body { background: #141414; color: white; font-family: arial; text-align: center; }
#logo { width: 300px; }
input { font-size: 20px; padding: 5px;     border-radius: 5px;
}
input[type=submit] { 
    background: black; 
    color: white; 
    border: solid white 1px; 
}

#results {
    text-align: left;
    width: 800px;
    border: solid white 1px;
    margin: 20px auto;
    padding: 20px;
    background: white;
    color: black;
    border-radius: 20px;
}

h1 { 
    margin-left: 50px;
}
ul {
    list-style-type: none;
}
li {
    padding: 10px;
}
  